@import '../sass/mixins.scss';

#download {
    padding: 70px 0;
}
.down__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.down__title {
    margin-bottom: 20px;
}
.down__title h3{
   @include down__title;
}
.down__descr {
    margin-bottom: 60px;
}
.down__descr span{
    @include down__descr;
}
