@import '../sass/mixins.scss';

#footer__two {
    padding: 40px 0;
    background-color: #2C3154;
}



.info__text{
    width: 30%;
    text-align: center;
    margin: auto;
}
.info__text span{
    @include footer__two;
}
#mod {
    color: $_white;
}