
//font-size
    $_64px:4rem;
    $_32px:2,25rem;
    $_30px:1,875rem;
    $_24px:1.5rem;
    $_18px: 1,125rem;
    $_13px: 0,8125rem;

 //color
    $_white:#FFFFFF;  
    $_grey: #656980;
    $normal_red:#FF4343;
    $hover_red:#E71414;
    $active_red:#FF4343;
