
//font-size
    $_64px:4rem;
    $_32px:2,25rem;
    $_30px:1,875rem;
    $_24px:1.5rem;
    $_18px: 1,125rem;
    $_13px: 0,8125rem;

 //color
    $_white:#FFFFFF;  
    $_grey: #656980;
    $normal_red:#FF4343;
    $hover_red:#E71414;
    $active_red:#FF4343;
    $_dark-grey: #2D3033;
    $_light-grey:#6C7279;
    $_logo: #C6CBCD;
    $_black: #000000;
    $_text-footer :#808080;
    $_dark-pink: #e75480;
    $_amarant: #e52b50;
    $_pink: #ffc0cb;
